header {
  height: 100vh;
  background-image: url('../images/header/header-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: 414px) {
    background-image: url('../images/header/header-mobile.jpg');
    padding: 10px 10px;
  }
}

.card {
  background-color: rgba(0, 39, 82, 0.5);
  width: 500px;
  padding: 50px 40px;
  text-align: left;
  letter-spacing: 1px;;
  font-size: 23px ;
  position: absolute;
  bottom: 50px;
  left: 250px;
  border-radius: 20px;
  font-family: "Tektur", sans-serif;
  font-weight: 400;

  @media (max-width: 414px) {
    display: none;
  }
}

.arrow {
  border: solid rgb(255, 254, 254);
  border-width:  0 5px 5px 0px;
  display: inline-block;
  padding: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  bottom: 50px;

  @media (max-width: 414px) {
    border-width:  0 3px 3px 0px;
    width: 15px;
    height: 15px;
    bottom: 30px;
  }
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}