.prost-secao {
  padding: 0 420px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  @media (max-width: 414px) {
    padding: 40px 20px;
    height: fit-content;
    font-size: 17px;
    flex-direction: column;
    margin-top: 30px;
    line-height: 27px;
  }
}

.prost-titulo{
  text-align: center;
  font-size: 50px;
  font-family: "Tektur", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%; 
  padding: 0  0 40px;


  @media (max-width: 414px) {
    font-size:30px;
    text-align: left;
    padding: 0  0 25px;
  }
}

.image-container {
  position: absolute;
  height: 100%;
  z-index: 0;

  @media (max-width: 414px) {
    display: none;
  }
}

.imagem-borda {
  height: 100%;
  
}

.prost-container {
  left: -17%;
}

.gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 1;
  background: linear-gradient(90deg, transparent 0, transparent 50%, #002752 90%);

  @media (max-width: 414px) {
    display: none;
  }
}

.gradient-senna {
  left: -1px;
  background: linear-gradient(270deg, transparent 0, transparent 50%, #002752 90%);

  @media (max-width: 414px) {
    display: none;
  }
}

.prost {
  position: relative;
}

.senna-container  {
  right: -18%;
}

.prost-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
}

.colunas {
  display: flex;
  gap: 40px;
  z-index: 2;

  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.text-solo {
  font-family: "Tektur", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: left;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  z-index: 2;
  margin-bottom: 30px;

  @media (max-width: 414px) {
    text-align: left;
  }
}

.prost-textos {
  font-family: "Tektur", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  gap: 60px;
  z-index: 2;

  span {
    font-size: 19px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;

  }
  @media (max-width: 414px) {
    text-align: left;
  }
}

.li-titulo {
  font-size: 30px;
  line-height: 40px;
  font-family: "Tektur", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%; 
  padding: 20px  0px;
  text-align: center;

  @media (max-width: 414px) {
    text-align: left;
  }
}


.prost-list {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  line-height: 25px;
  gap: 30px;
  display: flex;
  flex-direction: column;

  span {
    font-family: "Tektur", sans-serif;
    font-size: 21px;
    line-height: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

li {
  list-style: none;
}

.catalogo-prost {
  display: flex;
  justify-content: space-between;
  margin-top: 40px; 
  z-index: 2;

  @media (max-width: 414px) {
    flex-direction: column;
  }
  
  img {
    width: 31%;

    @media (max-width: 414px) {
      width: 100%;
  }

 
}}

.img-prost-um {
  padding: 0px 0px;
}

.img-prost-dois {
  padding: 0px 0px;

  @media (max-width: 414px) {
    display: none;
  }
}

.img-prost-tres {
  padding: 0px 0px;

  @media (max-width: 414px) {
    display: none;
  }
  
}

.assinatura {
  margin-top: 23px;
  display: flex;
  width: 100%;
  padding: 0 20px;
  z-index: 2;
  justify-content: space-between;
    
  
  @media (max-width: 414px) {
    height: unset;
}
}

.ass-prost{
  height: 100px;

}

.ass-senna {
  width:110px;
}