.sobre {
  padding: 60px 130px;
  height: 100vh;
  box-sizing: border-box;

  @media (max-width: 414px) {
    padding: 60px 20px;
    height: fit-content;
  }
}

.sobre-colunas {
  display: flex;
  justify-content: space-between;

  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.sobre-col-esq {
  width: 40%;
  z-index: 1;

  @media (max-width: 414px) {
    width: 100%;
  }
}

.sobre-col-dir {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 414px) {
    width: 100%;
    margin-top: 50px;
  }
}

.sobre-titulo {
  font-size: 50px;
  font-family: "Tektur", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 30px;

  @media (max-width: 414px) {
    font-size: 30px;
  }
}

.sobre-texto {
  font-size: 20px;
  line-height: 27.9px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: left;

  @media (max-width: 414px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.sobre-galeria-linha {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.imagem-linha {
    width: 48%;
    border-radius: 15px;
    margin-top: 20px;
}

.imagem-principal {
  width: 100%;
  border-radius: 20px;
}